@import "../styles/variables";

footer {
  position: relative;
  height: 100px;
  background: $lightColor;
}
.footer--wrapper {
  &:before {
    content: "";
    background-image: linear-gradient(to left top, $lightColor 0%, $lightColor 50%, transparent 50%);
    position: absolute;
    width: 100%;
    height: 100px;
    top: -100px;
    left: 0;
  }
}
.footer--content {
  position: absolute;
  padding: 0 40px;
  bottom: 40px;
}
