@import "../styles/variables";

footer {
  position: relative;
  height: 100px;
  background: $lightColor;
}
.footer--wrapper {
  height: 100%;
  display: block;
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:before {
    content: "";
    background-image: linear-gradient(
      to left top,
      $lightColor 0%,
      $lightColor 50%,
      transparent 50%
    );
    position: absolute;
    width: 100%;
    height: 100px;
    top: -100px;
    left: 0;
  }
}
.footer--content {
  padding: 8px 40px;
}
.icons {
  margin-right: 8px;
}

